/* Global property */

* {
    font-family: "Calibri", Helvetica, "Arial Nova", Georgia;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 21cm;
}

h1, h2, h3, h4 {
    font-family: Helvetica, "Arial Nova", Georgia;
}

p {
    font-style: normal;
}

a {
    font-style: normal;
    text-decoration: none;
    color: black;
}

a:hover {
    color: goldenrod;
    font-weight: bold;
}   

strong, h1 {
    font-weight: normal;
}

/*  Header  */

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    border-top: 2px solid rgb(0, 165, 173);
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 5px;
}

h1, h2 {
    text-align: center;
}

header img {
    height: 6em;
    width: 6em;
}

h2, #details {
    border-bottom: 2px solid rgb(0, 165, 173);
}


/* Details */

#details {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    height: 5rem;
    margin-left: 5%;
    border-top: 2px solid rgb(0, 165, 173);
    padding-left: 5%;
}

#details * {
    margin-top: 1%;
    margin-bottom: 1%;
}

#details a:first-child::before {
    content: '✉ ';
}

#details a:nth-child(3)::before {
    content: '📞 ';
}

#details p:nth-child(2)::before {
    content: '📋 ';
}

#details p:nth-child(4)::before {
    content: '📍 ';
}

span a {
    margin-left: 0.5rem;
}

#details span {
    display: flex;
}

#details span img {
    height: 1rem;
    width: 1rem;
    text-align: center;
}

/* Main */

.circle-bullet {
    list-style: url("./images/puce-cercle.png");
}

h3 {
    font-size: 0.95rem;
    text-transform: uppercase;
}

li {
    font-size: 0.95rem;
}

h4 {
    font-size: 0.85rem;
    margin: 0px;
}

h4 + p {
    margin-top: 0px;
}
